footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
  margin-top: 100px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.key-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 65px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #d3d6da;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.key-block-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 65px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #d3d6da;
  font-weight: bold;
  font-size: 12px;
}

.key-block-x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 65px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #d3d6da;
  font-weight: bold;
}

.key-block-x img {
  width: 30px;
  height: 30px;
}

.pressed {
  background: tomato;
  transform: scale(1.2);
}

.corrected {
  background-color: #6aaa64;
}

.wronged {
  background-color: #787c7e;
  color: white;
}

.included {
  background-color: #c9b458;
}
